<article class="activity" ...attributes>
	{{#if @activity}}
		<header class="activity-header">
			<h2 class="activity-name">{{@activity.name}}</h2>
			<p class="activity-description">{{@activity.description}}</p>
		</header>
		<Activity::Details @activity={{@activity}}/>
		<Activity::Availability @availabilityDates={{@availabilityDates}}/>
	{{/if}}
	{{yield}}
</article>
