<article class="activity" ...attributes>
	{{#if @activity}}
		<header class="activity-header">
			<h2 class="activity-name">{{@activity.name}}</h2>
			{{#if @activity.image}}
				<img class="activity-image" src={{@activity.image}} width="1368" height="768" alt={{@activity.name}} loading="lazy" decoding="async">
			{{/if}}
			<p class="activity-description">{{@activity.description}}</p>
		</header>
		<Activity::Details @activity={{@activity}}/>
		<Activity::Availability @availabilityDates={{@availabilityDates}} @onAddTickets={{this.onAddTickets}} @onReset={{this.onReset}}/>
	{{/if}}
	{{yield}}
</article>
