<form action="" method="GET" {{on "change" this.onAddTickets}}>
	<fieldset>
		<legend>Reserve Spots</legend>
		<div class="form-field">
			{{#each this.tripSpots as |spot|}}
				<div class="spot-control" data-is-available={{spot.isAvailable}}>
					<label for={{spot.id}} title="Reserve {{spot.count}} Tickets">六</label>
					<input type="radio" id={{spot.id}} name="spots" value={{spot.count}} required disabled={{spot.isUnavailable}} data-test-spot-control>
				</div>
			{{/each}}
			{{#if this.ticketCount}}
				<output for="{{this.controlIds}}">{{this.ticketCount}} Tickets</output>
			{{/if}}
		</div>
	</fieldset>
	{{yield}}
</form>